{% extends 'main/base.html' %}

{% load static %}

{% block content %}
  <main class="profile-page">
    <div class="profile-container">
      <div class="profile-header">
        <div class="avatar-section">
          <h1 class="user-name">{{ user.full_name }}</h1>
        </div>

        <div class="profile-info">
          <div class="info-item">
            <span class="info-label">Телефон:</span>
            <span class="info-value">{{ user.phone_number }}</span>
          </div>
          {% if user.email %}
            <div class="info-item">
              <span class="info-label">Email:</span>
              <span class="info-value">{{ user.email }}</span>
            </div>
          {% endif %}

          <div class="info-item">
            <span class="info-label">Адрес:</span>
            <span class="info-value">
              {% filter force_escape %}
                {% if user.city %}
                  Г. {{ user.city }}
                {% endif %}
                {% if user.street %}
                  {% if user.city %}, {% endif %}Ул. {{ user.street }}
                {% endif %}
                {% if user.house %}
                  {% if user.city or user.street %}, {% endif %}Д. {{ user.house }}
                {% endif %}
                {% if user.entrance %}
                  {% if user.city or user.street or user.house %}, {% endif %}Подъезд {{ user.entrance }}
                {% endif %}
                {% if user.floor %}
                  {% if user.city or user.street or user.house or user.entrance %}, {% endif %}Этаж {{ user.floor }}
                {% endif %}
                {% if user.apartment %}
                  {% if user.city or user.street or user.house or user.entrance or user.floor %}, {% endif %}Кв. {{ user.apartment }}
                {% endif %}
              {% endfilter %}
            </span>
            <a href="{% url 'users:edit_address' %}" style="text-decoration: none; color: #007bff;">
              {% if not user.city and not user.street and not user.house and not user.entrance and not user.floor and not user.apartment %}
                Указать адрес
              {% else %}
                Изменить адрес
              {% endif %}
            </a>
          </div>
        </div>
      </div>

      {% if orders %}
        <section class="order-history">
          <h2 class="section-subtitle">История заказов</h2>

          <div class="order-list">
            {% for order in orders %}
              <div class="order-card">
                <div class="order-meta">
                  <span class="order-number">Заказ №{{ order.id }}</span>
                  <span class="order-date">{{ order.created_at|date:'d.m.Y H:i' }}</span>

                  {% if order.status == 'pending' %}
                    <span class="order-status pending" style="background-color: gray;">Ожидание</span>
                  {% elif order.status == 'confirmed' %}
                    <span class="order-status completed">Успешно</span>
                  {% elif order.status == 'rejected' %}
                    <span class="order-status rejected" style="background-color: red;">Неуспешно</span>
                  {% endif %}
                </div>
                <div class="order-content">
                  <div class="order-items">
                    {% for item in order.items.all %}
                      <div class="order-item">
                        <div class="item-image">
                          <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="order-item-image" />
                        </div>
                        <div class="item-info">
                          <span class="item-title">{{ item.product.name }}</span>
                          <div class="item-details">
                            <span>{{ item.quantity }} × {{ item.price }}₽</span>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  {% comment %} <div class="order-total">
                    <span>Итого:</span>
                    <span>{{ item.get_cost }}₽</span>
                  </div> {% endcomment %}
                </div>
              </div>
            {% endfor %}
          </div>
        </section>
      {% endif %}
    </div>
    <a href="{% url 'users:logout' %}" class="logout-btn"><p>Выход</p></a>
  </main>
{% endblock %}
