{% extends 'main/base.html' %}

{% load static %}

{% block content %}
  <main class="auth-page">
    <div class="auth-container">
      <h1 class="section-title">Регистрация</h1>

      <form class="auth-form" method="post">
        {% csrf_token %}
        <div class="input-group">
          <label>Фамилия Имя Отчество</label>
          {{ form.full_name }}
        </div>

        <div class="input-group">
          <label>Телефон</label>
          {{ form.phone_number }}
        </div>

        <div class="input-group">
          <label>Email</label>
          {{ form.email }}
        </div>

        <div class="input-group">
          <label>Пароль</label>
          {{ form.password1 }}
        </div>
        <div class="input-group">
          <label>Повторите пароль</label>
          {{ form.password2 }}
        </div>

        <button type="submit" class="btn-hover auth-btn">
          Зарегистрироваться
          <!--                  <svg class="check-icon" viewBox="0 0 24 24">
              <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z" />
            </svg>                  -->
        </button>

        <div class="auth-links">
          <a href="{% url 'users:login' %}" class="link">Уже есть аккаунт? Войти</a>
        </div>
      </form>
    </div>
  </main>
{% endblock %}
